<p>Listado de Heroes!</p>
<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        {{i+1}} - {{heroe}}
    </li>
</ul>
<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Heroe Borrado: <small>{{heroeBorrado}}</small></h3>
</div>

<ng-template #noBorrado>
    <h3>No ah borrado nada</h3>   
</ng-template>


<button (click)="borrarHeroe()">
    borrar heroe
</button>